/presentation/pitch-2026-10-05/*.pdf binary
/presentation/pitch-2026-10-05/*.pptx binary
/presentation/pitch-2026-10-05/*.png binary
/presentation/pitch-visual/*.pdf binary
/presentation/pitch-visual/*.pptx binary
/presentation/pitch-visual/*.png binary
